*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin:0;
    font-family: 'Kumbh Sans', sans-serif;
    /* background-image: url("./assets/home/bg-pattern-header.svg");
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain; */

}

.main{
    margin:81px 165px
}

nav{
    padding-top: 81px;
}

header{
    display: flex;
    margin-top: 102px;
    
}

h1{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #333950;

}

h5{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #333950;
}


#header-img{
    width: 100%;

}

#informations{
    width: 500px;
    flex: 1;
}

.introduction{
    display: flex;
    gap:95px;
}



#header-text{

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #747B95;
    margin-bottom: 32px;

}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   justify-content: space-around;
   margin-bottom: 101px;
}

  
  .time {
    width: 100px;
    height: 128px;
    background-color:#747B95;
    border-radius:13px;
  }
  
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 0;
    text-align: center;
    color: #fff;
  }
  
  small {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .get_started{
    padding:16px 36px;
    align-items: center;
    justify-content: center;
    color:#fff ;
    background: #5175FF;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
    border-radius: 28px;
    border-style: none;
    text-decoration: none !important;

  }

  .get_started:hover{
    cursor: pointer !important;
  }

   #text--white {
    color: #fff !important;}



.container-countdown {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
}





form{
    display: flex;
    flex-direction: column;
    width: 445px;
    padding: 43px;
    background: #FFFFFF;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    gap:24px;
    position: absolute;
    left: 55%;
}

form input{
    width: 100%;
    color: #747B95;
    border: none;
   
}
label{
    border-bottom:  #747B95;
    border-bottom-style: solid;
    margin-top:16px;
}

form input::placeholder{
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color:  #747B95;
}

.wrap-signup{
    background-image: url("./assets/sign-up/bg-pattern-side.svg");
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left:165px;
}

.label_footer{
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #333950;
}

#date{
    color:#5175FF;
}



.aside{
    position:relative;
    z-index: -1;
    min-height: 100vh;
    width:420px;
    background-color: #25293A;
}
