*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin:0;
    font-family: 'Kumbh Sans', sans-serif;
    /* background-image: url("./assets/home/bg-pattern-header.svg");
    background-repeat: no-repeat;
    background-position:right;
    background-size: contain; */

}

.main{
    margin:81px 165px
}

nav{
    padding-top: 81px;
}

header{
    display: flex;
    margin-top: 102px;
    
}

h1{
    font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 64px;
color: #333950;

}

h5{
    font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
color: #333950;
}

.price{
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    color: #333950;
    margin-bottom: 0;
    margin-top: 40px;
}

#header-img{
    width: 100%;
   
}

#informations{
    width: 500px;
    flex: 1;

}

.introduction{
    display: flex;
    gap:95px;
}



#header-text{

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #747B95;

}


.img_header{
    flex: 1;
}

.cards{
    display: flex;
    position: absolute;
    gap:30px;
    align-content: center;
    justify-content: center;
    align-self: center;
    margin-left: 76px;
}

.card{
    width: 300px;
    height: 508px;
    background: #FFFFFF;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card--blue{
    background: #5175FF;
    
    
}





.span{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #747B95;
}

.info{
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}

.userLimit{
    margin-top: 8px;
}

footer{
    /* position: relative; */
    background-image: url("./assets/home/bg-pattern-footer.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:120px;
    background-color: #25293A;
    padding-top:450px;
    width: 100%;
}
.label_footer{
    margin-left: 145px;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;

}

#date{
    color:#5175FF;
}
.container{
    display: flex;
    justify-content: space-around;
}

.button-trial{
    padding:16px;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color:  #e2e8fc ;
    border-radius: 28px;
    border-style: none;
    color:#5175FF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 40px;
    
}

.card--blue .button-trial  {
    background-color: #fff;
}

.countdown {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
   justify-content: space-around;
   margin-bottom: 101px;
  }
  
  .time {
    width: 100px;
    height: 128px;
    background-color:#747B95;
    border-radius:13px;
  }
  
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 0;
    text-align: center;
    color: #fff;
  }
  
  small {
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .get_started{
    padding:16px 36px;
    align-items: center;
    justify-content: center;
    color:#fff ;
    background: #5175FF;
    box-shadow: 0px 25px 25px -10px rgba(63, 91, 194, 0.247159);
    border-radius: 28px;
    border-style: none;
  }


   .card--blue .text--white {
    color: #fff !important;
}
