:root {
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);
  --veryPaleBlue: hsl(225, 100%, 98%);
  --DesaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
  --backgroundBlue: hsla(226, 100%, 94%, 1);
  --linkHover: hsla(245, 83%, 68%, 1);
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--backgroundBlue);
  background-image: url(./images/pattern-background-desktop.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Red Hat Display", sans-serif;
}

.container {
  background: #ffffff;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  border-radius: 20px;
  max-width: 450px;
  margin: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 48px;
  gap: 32px;
}

img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}
h2 {
  font-weight: 900;
  font-size: 28px;
  text-align: center;
  color: var(--darkBlue);
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--DesaturatedBlue);
  margin-top: 17px;
}

.main_price {
  display: flex;
  justify-content: space-between;
  background-color: var(--veryPaleBlue);
  padding: 20px;
  border-radius: 11px;
  align-items: center;
}

.price__wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
#price__title {
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 21px;
  color: var(--darkBlue);
  white-space: nowrap;
}
.price__plan {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#price__value {
  color: var(--DesaturatedBlue);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

#linkChange {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

#linkChange:hover {
  color: var(--linkHover);
  text-decoration: none;
}

button {
  color: #fff;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  background-color: var(--brightBlue);
  padding: 16px;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
  border-radius: 11px;
  border-style: none;
  width: 100%;
}

button:hover {
  cursor: pointer;
  background-color: var(--linkHover);
}

#linkCancel {
  text-decoration: none;
  text-align: center;
  font-weight: 900;
  font-size: 15px;
  line-height: 20px;
  color: var(--DesaturatedBlue);
}

#linkCancel:hover {
  color: var(--darkBlue);
}
a:hover {
  cursor: pointer;
}

@media (max-width: 400px) {
  .container {
    width: 375px;
  }
}
