.root {
  ---grayishBlue: #666ca3;
  ---darkBlue: #13183f;
  ---gray: #83869a;
  ---pink: #ffa7c3;
  ---fucsia: #f74780;
  ---white: #ffffff;
  ---gradientPink: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  ---gradientViolet: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);
  ---fontSizeS: 24px;
  ---fontSizeM: 32px;
  ---fontSizeL: 40px;
  ---fontSizeXL: 56px;
  ---desktop: 1440px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0 auto;
}
img {
  position: relative;
}

main {
  display: flex;
  margin-top: 0;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: var(---desktop);
  background-color: white;
  padding: 0;
}
.container {
  display: grid;
  background-color: white;
  width: 880px;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 2fr 2fr;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
}
.nav__link {
  color: var(---darkBlue);
  font-weight: bold;
}
.header_container {
  display: flex;
  gap: 50%;
}

.header_infos {
  background: white;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 50px;
}
h1 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;

  /* 13183F */

  color: #13183f;
}

#headerText {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  /* 83869A */

  color: #83869a;
}

footer {
  display: fixed;
}

.grid {
  /* height: 50px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
  gap: 30px;
}
.courses {
  border-radius: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
}
.course--pink {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  color: white;
}

.courses__title {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 30px;

  /* 13183F */

  color: #13183f;
}

.courses__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;

  color: #83869a;
}

.courses__link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 156% */

  /* F74780 */

  color: #f74780;
}
.grid_img {
  position: relative;
}

@media (max-width: 375px) {
  main {
    height: 2615px;
    width: 375px;
    border-radius: 0;
    margin: 0 auto;
  }
} ;
